.centerInXY {
  display: grid;
  align-content: space-evenly;
  justify-content: center; }

body {
  font-family: 'Questrial', sans-serif;
  color: beige; }

.row {
  margin-right: 0;
  margin-left: 0; }

.back--oliva {
  background-color: #8fa382;
  height: 100%; }

.div--paddingTopBot, .gal-item {
  padding-top: 25px;
  padding-bottom: 25px; }

.text--size20 {
  font-size: 20px; }

.text--coral {
  color: coral; }

.text--size30 {
  font-size: 30px; }

.text--alignCenter {
  text-align: center; }

.text--alignRight {
  text-align: right; }

.overflowHid {
  overflow: hidden; }

.carousel-item img {
  width: 100%; }

.div--gridCentralX {
  display: grid;
  justify-content: center; }

.div--gridCentralY, .gal-item {
  display: grid;
  align-content: space-evenly; }

h2 {
  text-align: center;
  font-size: 50px;
  color: white; }

/*----------------------------------------------------------------------------------BOTONES CONTACTO-*/
.btn--instagram {
  color: beige;
  background-color: transparent;
  width: 100%; }

.btn--instagram:hover {
  background-color: #C13584;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  text-align: center; }

.btn--facebook {
  color: beige;
  background-color: transparent;
  width: 100%; }

.btn--facebook:hover {
  background-color: #3b5998;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  text-align: center; }

.btn--whatsapp {
  color: beige;
  background-color: transparent;
  width: 100%; }

.btn--whatsapp:hover {
  background-color: #25D366;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  text-align: center; }

.btn--email {
  color: beige;
  background-color: transparent;
  width: 100%; }

.btn--email:hover {
  background-color: #C25E30;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  text-align: center; }

.icon-item {
  width: 20px;
  height: 20px; }

.icon-itemContacto {
  width: 75px;
  height: 75px; }

.btn--seccionContacto img:hover {
  transform: scale(1.5);
  transition: all 0.5s; }

.seccion-footer a {
  text-decoration: none;
  color: beige; }

.seccion-footer li {
  list-style: none;
  height: 33px; }

.seccion-item a:hover {
  color: burlywood; }

.btn:hover {
  transform: scale(1.2);
  color: white;
  transition: all 0.5s; }

.contacto_heart--size {
  width: 200px;
  height: 200px; }

footer {
  background-color: #8fa382; }
  footer .footer--logo {
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .footer--copyright {
    color: beige;
    text-align: center;
    font-size: 15px; }
    footer .footer--copyright a {
      color: beige;
      text-decoration: none; }
    footer .footer--copyright a:hover {
      color: slategray; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

form {
  padding: 15px; }

.back-burlywood {
  background-color: burlywood; }

.text--blue {
  color: cadetblue; }

.text--coral {
  color: coral; }

.logo--fondoimg {
  background-image: url(img/h1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.indexLogo {
  color: #8fa382;
  text-shadow: 2px 2px black;
  font-family: 'Allura', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 95px;
  line-height: 0.7;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  width: auto;
  background: transparent; }

.text--shadow {
  text-shadow: 2px 2px black; }

.alluraFont, h2 {
  font-family: 'Allura', cursive; }

.questrialFont {
  font-family: 'Questrial', sans-serif; }

a {
  color: #8fa382;
  text-decoration: none;
  background-color: transparent; }

.nav {
  background-color: beige; }

.nav-item a:hover {
  color: coral;
  transform: scale(1.2, 1.2);
  transition: all 0.5s; }

p {
  margin-top: 0;
  margin-bottom: 0; }

.back--h1 {
  background-color: #8fa382;
  height: 125px;
  background-image: url(img/dharma1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

h1 {
  color: white;
  font-family: 'Allura', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  line-height: 1.1;
  margin: auto;
  background-color: #8fa382; }

.gal-item {
  justify-content: center;
  overflow: hidden; }

/*---------------------------------------------------------------------------------------ANIMACION*/
@keyframes showUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.showUp {
  animation-duration: 1s;
  animation-name: showUp; }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateX(-10deg); }
  70% {
    transform: perspective(400px) rotateX(10deg); }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

.flipInX {
  animation-duration: 1s;
  animation-name: flipInX; }

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  100% {
    transform: translateY(0); } }

.slideInDown {
  animation-duration: 1s;
  animation-name: slideInDown; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp, .back--oliva {
  animation-duration: 1s;
  animation-name: fadeInUp; }

@keyframes showInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

.showInLeft {
  animation-duration: 2s;
  animation-name: showInLeft; }

@keyframes showInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  60% {
    opacity: 1;
    transform: translateX(-30px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

.showInRight {
  animation-duration: 2s;
  animation-name: showInRight; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.pulse {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite; }

/*--------------------------------------------------------------------------------------RESPONSIVE*/
/*-- Dispositivo > XS --*/
@media (min-width: 768px) {
  h1 {
    color: white;
    font-family: 'Allura', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 100px;
    line-height: 1.1;
    margin: auto;
    height: 125px;
    background-color: #8fa382; } }

@media (min-width: 426px) {
  .indexLogo {
    color: #8fa382;
    text-shadow: 2px 2px black;
    font-family: 'Allura', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 95px;
    line-height: 0.7;
    height: 200px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: auto;
    background: transparent; } }
